@media (max-width: 768px) {
  
    .portfolio-single {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  
    .portfolio-steps {
      padding-bottom: 20px;
    }

}
