/*************why us**************/

.why-container {
  color: white;
  margin-top: 120px;
}

#w1 {
  width: 10%;
  padding: 20px;
  background-color: white;
  border-radius: 100%;
  border: 5px solid #00204a;
}

/*********Responsive design**************/
@media (max-width: 768px) {
  .why-container {
    margin-top: 50px;
  }
  .why-section {
    font-size: 30px;
    padding-top: 100px;
  }

  #w1 {
    width: 16%;
  }
}

/*********Responsive design**************/
@media (max-width: 1075px) {
  .why-section {
    font-size: 30px;
    padding-top: 0;
  }

  #w1 {
    width: 16%;
  }
}
